@model TaskManagerApp.Models.TaskHome

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>TaskHome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onsubmit="StartDtValidation(event)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="TaskId" class="control-label"></label>
                <input asp-for="TaskId" class="form-control" />

            </div>
            <div class="form-group" hidden>
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value="@ViewBag.UserId" />
            </div>
            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" id="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskDescription" class="control-label"></label>
                <input asp-for="TaskDescription" id="TaskDesc" class="form-control" />
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdate" class="control-label"></label>
                <input type="date" asp-for="Startdate" id="TaskStDt" class="form-control" />
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input type="date" asp-for="Deadline" id="TaskDdl" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskStatusId" class="control-label"></label>
                <select asp-for="TaskStatusId" id="TaskStatusId" class="form-control" asp-items="Html.GetEnumSelectList<TodoOptions>()"></select>
                <span asp-validation-for="TaskStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" asp-page-handler="Submit" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @{
        <script>
        
            function StartDtValidation(eve) {
                var dt = new Date(document.getElementById("TaskStDt").value).getTime();
                var today = new Date().getTime();
                if (dt > today) {
                    eve.preventDefault();
                    alert("Start date must be less than today")
                }

            }
        </script>
    }
}
